.top {
	padding: 30px 0;
	margin: 0px 0px 30px;
	text-align: center;
	width: 100%;
	background-color: #444444;
}
h1 {
	margin: 0px;
	color: white;
}
.main-area {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	padding: 0px 0px 20px;
}
.login {
	padding: 20px 0px 0px;
	text-align: right;
}
.login-id {
	width: 200px;
}
.password {
	width: 203px;
}