.header {
	padding: 0px 0px 20px;
	margin: 0px 0px 20px;
	text-align: center;
	position: fixed;
	width: 100%;
	background-color: #444444;
}
.header-name {
	color: white;
}
.menu a {
	text-decoration: none;
	text-decoration: underline;
	padding: 0px 40px;
	color: white;
}
.main-management {
	padding-top: 160px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 800px;
}
.table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border-collapse: collapse;
}
.table th {
	padding: 10px;
	color: white;
	background-color: #555555;
}
.table td {
	padding: 10px;
}
.copyrights {
	font-size: x-large;
	text-align: center;
	padding: 20px 0px 0px;
}