.new-post {
	padding: 30px 0;
	margin: 0px 0px 30px;
	text-align: center;
	position: fixed;
	width: 100%;
	background-color: #444444;
}
h1 {
	margin: 0px;
	color: white;
}
.main-message {
	margin-right: auto;
	margin-left: auto;
	width: 720px;
	padding-top: 110px;

}
.errorMessages {
	text-align: center;
}
.errorMessages li {
	list-style: none;
}
.subject {
	padding: 0px 0px 10px;
}
.category {
	padding: 0px 0px 10px;
}
.text {
	padding: 0px 0px 10px;
}
.subject-form {
	padding: 0px 0px 30px;
}
.category-form {
	padding: 0px 0px 30px;
}
.text-form {
	padding: 0px 0px 30px;
}
.post {
	text-align: right;
	width: 720px;
}
.back {
	text-align: center;
}