.main {
	padding-top: 110px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}
.header {
	padding: 30px 0;
	margin: 0px 0px 30px;
	text-align: center;
	position: fixed;
	width: 100%;
	background-color: #444444;
}h1 {
	margin: 0px;
	color: white;
}
.loginid{
	padding: 0px 0px 10px;
}
.loginid-form{
	margin: 0px 0px 10px;

}
.password{
	padding: 0px 0px 10px;
}
.password-form{
	padding: 0px 0px 10px;
}
.match {
	padding: 0px 0px 10px;
}
.match-form{
	padding: 0px 0px 10px;
}
.name {
	padding: 0px 0px 10px;
}
.name-form{
	padding: 0px 0px 10px;
}
.branchid {
	padding: 10px 0px 5px;
}
/* .branchid-form{
	padding: 0px 0px 10px;
} */
.positionid {
	padding: 10px 0px 5px;
}
/* .positionid-form{
	padding: 0px 0px 10px;
} */
.submit {
	text-align: right;
	width: 400px;
}
.back {
	text-align: center;
}