body {
	background-color: #F5F5DC;
	margin: 0;
}

.main-contents {
	padding-top: 160px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.errorMessages {
	font-weight: bold;
	color: #FF0000;
}

.copyright {
	font-size: x-large;
	text-align: center;


}