.header {
	padding: 0px 0px 20px;
	text-align: center;
	position: fixed;
	width: 100%;
	background-color: #444444;
}

h1 {
	margin: 10px 0px 10px;
	color: white;
}

.menu {
	padding: 0px 0px 15px 0px;
}

.menu a {
	text-decoration: none;
	text-decoration: underline;
	color: white;
	margin: 5px;
}

.search {
	padding: 0;
}
.search label {
	color: white;
	margin: 5px;
}
.search a {
	color: white;
	margin: 5px;
}

.subject {
	padding: 10px 0px 0px;
	font-size: xx-large;
	border-bottom: double 6px;
}

.category {
	padding: 15px 0px 0px;
	font-size:  x-large;
}

.text {
	padding:15px 0px;
	font-size:  large;
}

.name {
	padding: 0px 0px 20px;

}
.post-name {
	font-size:  large;
	display: inline-block;
	float: left;
}

.date {
	font-size:  large;
	display: inline-block;
	float: right;
}

.delete {
	padding: 35px 0px 0px;
	text-align: right;
	margin-right: auto;
}
.none {
	border-bottom: double 6px;
	margin: 10px 0px 20px;
}
.comment-name {
	font-size:  x-large;
}
.comment-text {
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px;
}
.comment-date {
	display: inline-block;
	float: left;
}
.post-delete {
		float: right;
	display: inline-block;
}
.comment-none {
	border-bottom: dashed 1px;
	margin: 50px 0px 20px;
}
.comment-form {
	padding: 30px 0px;
}
.lable {
	font-size: large;
	font-weight: bold;
}
/* textarea {
    min-width: 790px;
} */
.post {
	float: right;
	padding: 20px 0px 0px;
}